body{
    background-image: url("carnet.png");
    background-size: cover;
}

.texte{
    position: absolute;
        top: 8%;
        left: 27%;
}

h1{
    font-size: 70px;
}

p{
    font-size: 20px;
}

.image{
    width: 100px;
}